body {
  margin: 0;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#home {
  background: url("pics/laptop-background.jpeg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
}

#homeButton {
  color: white;
  background-color: black;
  width: 140px;
  height: 40px;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 15%;
}

header, footer, .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-bar, .top-bar ul, .top-bar ul li {
  background-color: #34495e;
}

#main {
  opacity: 0;
}

#about, #skills, #gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  padding-top: 2em;
  padding-bottom: 2em;
}


#creed h2 {
  font-size: 4.5vmin;
}

#creed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  flex-direction: column;
  width: 100%;
  height: 70%;
  font-size: 2.5vmin;
}

#wrapper:hover .invisible {
visibility: visible;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: auto;
  background-color: #34495e;
  font-size: 1.5vmin;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
